@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    overflow: none;
}

@keyframes slideInBottom {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

body {
    background-color: #393E46;
    margin: 0px;
}

.hero {
    
    text-align: center;
    color: #f7f7f7;
    padding-top: 75px;
    animation: 1s ease 0s 1 slideInBottom;
}

.hero h1 {
    font-size: 36px;
    transition: all 1s ease;
}

.hero p {
    font-family: 'Poppins', sans-serif;
}

.hero img {
    max-width: 400px;
}

.hero button {
    font-family: 'Poppins', sans-serif;
    background-color: #92DD84;
    border-radius: 40px;
    border-style: none;
    color: #f7f7f7;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

}

.font1 {
    font-family: 'Lobster', cursive;
}

.font2 {
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 950px) {
    .hero img {
        max-width: 200px;
    }
}

/* Skills */

.skills {
    text-align: center;
    background-color: #386475;
    margin-top: -5%;
    padding: 0.5%;
    padding-left: 300px;
    padding-right: 300px;
}

.skills h1 {
    font-family: 'Lobster', cursive;
    color: #f7f7f7;
}

.skills h3 {
    color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
}

.skillBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skillBoxes img {
    max-width: 300px;
    flex-grow: 4;
}



@media (max-width: 950px){
    .skillBoxes img{
        max-width: 240px;
    }
}

@media (max-width: 700px){
    .skills {
        padding-left: 50px;
        padding-right: 50px;
    }
    .skillBoxes {
        flex-direction: column;
    }
    .skillBoxes img{
        padding-left: 0px;
    }
    .skills h3 {
        font-size: 16px;
    }
}

/* Portfolio */

.portfolio {
    text-align: center;
    background-color: #386475;
    margin-top: -40px;
    padding-top: 80px;
    color: #f7f7f7;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Poppins', sans-serif;
}

.portfolio h1 {
    font-family: 'Lobster', cursive;
}

.portfolioItem img {
    max-width: 300px;
    padding: 20px;
    border-radius: 30px;
}

.portfolioItem {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}