@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    overflow: none;
}

body {
    background-color: #393E46;
}

.hero {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #f7f7f7;
    padding-top: 175px;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-family: 'Poppins', sans-serif;
}

.hero img {
    max-width: 400px;
}

/* Skills */

.skills {
    text-align: center;
    background-color: #386475;
    margin-top: -5%;
}

.skills h1 {
    font-family: 'Lobster', cursive;
    color: #f7f7f7;
}